ul {
  list-style: none;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-left: 156px;
  margin-right: 156px;
  flex-direction: row;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-field:hover {
  border-color: #808080;
}
.page-button {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.page-button:hover {
  background-color: #6c8cff;
}
